<!DOCTYPE html>
<html>
<body>



</body>
</html> 

<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Florey Literature Review</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
	<body>
	 
	    <h1>Florey Literature Review</h1>

	<button type="button"
		onclick="document.getElementById('demo').innerHTML = Date()">
		This will eventually be a signin page.
	</button>

		<p id="demo"></p>
	 
      
 
        <div>
 
	        <footer class="footer">
	            <p>&copy; alistair.walsh@florey.edu.au - 2016</p>
	        </footer>
 
	    </div>
	</body>
 
</html>
